body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

.material-symbols-rounded {
    color: #6622CC;
    cursor: pointer;
    margin: 0 10px;
}

.material-symbols-rounded:hover {
    color: #7fd3df;
}

.container {
    padding: 0 250px;
}

#body {
    margin-bottom: 118px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.logo {
    color: #6622CC;
    font-size: 30px;
    font-weight: 500;
    word-wrap: break-word;
}

.navbar_pages {
    color: #212427;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    text-transform: uppercase
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 10px;
}

li a {
    display: block;
    color: #212427;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.active {
    color: #6622CC;
}

h2 {
    color: #212427;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.bundles h2 {
    text-align: start;
    text-transform: uppercase;
    margin-top: 64px;
    margin-bottom: 30px;
}

h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}



.text_link {
    display: block;
    margin-top: 10px;
    text-align: right;
    color: #6622CC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: right;
}

.text_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 50px;
}

footer {
    width: 100%;
    background-color: #6622CC;
    margin-top: auto;
    color: #FDFDFD;
}

.footer-column {
    flex: 1;
    padding: 20px;
    text-align: left;
}


#footer p {
    color: #FDFDFD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer .links:hover {
    text-decoration: underline;
    cursor: pointer;
}

#footer .logo {
    color: #E1B4F4;
    font-size: 24px;
}

.cover {
    position: relative;
    text-align: center;
}

.cover img {
    width: 100%;
    height: auto;
}

.cover-caption {
    color: #FDFDFD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.artists-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 37px;
    flex-wrap: wrap;
}


.artist-card {
    box-shadow: 0px 0px 10px 0px rgba(77, 77, 77, 0.25);
    width: 155px;
    height: 155px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.artist-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.artist-image img {
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.image-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    color: #8EDCE6;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.artist-card:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.artist-card:hover .image-caption {
    opacity: 1;
}


.photocards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 155px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.card:hover {
    cursor: pointer;
}

#photo,
.card img {
    width: 155px;
    height: 233px;
    border-radius: 15px;
    background-color: #E1B4F4;
}

.card-title {
    color: #212427;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-detail {
    color: #8A94A0;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}